<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>

        <!-- load angular via CDN -->
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

			<div ng-controller="mainController">

                <h1>Hello world!</h1>
                <h2> {{ firstname }} </h2>

                <label>
                    <input type="text" placeholder="Your Twitter handle" ng-model="handle">
                </label>

                <div class="alert" ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': hab=handle.length > characters }" ng-show="handle.length !== characters">
                    <div ng-show="handle.length < characters"><p>It is less than 5 characters</p></div>
                    <div ng-show="handle.length > characters"><p>It is More than 5 characters</p></div>
<!--                    <div ng-show="showWhenMoreThan5Characters === false"><p>It is less than 5 characters</p></div>-->
<!--                    <div ng-show="showWhenMoreThan5Characters === true"><p>It is more than 5 characters</p></div>-->
                </div>

                <hr>
                <h2>twitter.com/{{ lowerCaseHandle() }}</h2>

                <!--  Custom Rules -->
                <h3>Rules</h3>
                <ul>
                    <li ng-repeat="rule in rules"> {{ rule.ruleName }} </li>
                </ul>

            </div>

		</div>

    </body>
</html>